body {
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    font-family: Arial;
  }
  
  .menu {
    background-color: white;
  }
  
  a {
    text-decoration: none;
    color: darkslateblue;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .site-subtittle,
  .site-tittle {
    color: whitesmoke;
    text-align: center; 
  }
  
  .site-subtittle {
    font-style: italic;  
  }
  
  